/* 
    Author: Alicja Szwalek 
    COM1008 Assignment1 
*/

html, body {
    font-family: sans-serif;
}

/*~~~~~~~~~~~Start of the Mobile Version~~~~~~~~~~~*/

 
    #desktopmenu {
        display: none;
    }
    nav {
        position: relative;
    }
    #logo {
        display: inline-block;
        width: 10%;
        max-width: 4em;
        margin: 1em 0;
    }
    #img {
        height: 100%;
        width: 100%;
    }
    header {
        display: block;
    }

    /*~~~~~~~~Home page~~~~~~~~*/

    .intro {
        display: flex;
        flex-direction: column;
    }
    .column {
        width: 100%;
        margin: 1em 0;
    }
    .section {
        width: 90%;
    }
    
    /*~~~~~~~~About us page~~~~~~~~*/

    .aboutus {
        font-size: 100%;
    }

    .columns {
        padding: 1em;
        border-radius: 1em;
        box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.397);
        background-color: rgba(223, 190, 0, 0.61);
    }
    
    /*~~~~~~~~News page~~~~~~~~*/

    .article {
        font-size: 80%;
    }
    .article img {
        width:70%;
    }
    #newsimg {
        width: 90%;
        margin-left: 4%;
    }
    


    /*~~~~~~~~Game page~~~~~~~~*/


    .gameArea {
        display: flex;
        flex-direction: column;
    }
    .gameStart {
        padding: 0.5em;
        font-size: 1.1em;
    }
    .game {
        border: 0.1em solid black;
    }


    .hide {
        display: none;
    }


    /*~~~~~~~~Contact us page~~~~~~~~*/

    .contactus-input {
        flex-direction: column;
    }
    .contactus-msg textarea {
        height:6em;
    }
    .contactus-inf, .contactus-msg {
        width:100%;
    }
    

    /*~~~~~~~~Accessibility~~~~~~~~*/


    .accessibilityList li {
        list-style-position: inside;

    }

/*~~~~~~~~~~~~~~~~~~~~End of the Mobile Version~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~Start of the Medium Width Screen Version~~~~~~~~~~~*/


@media screen and (min-width: 767px){ 
   
    header {
        padding: 2em 3%;
        display: flex;
        justify-content: space-between;
    }
    #logo {
        margin: 0;
    }
    #dropdownmenu {
        display: none;
    }
    nav {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
    }
    #desktopmenu {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding: 0;
        margin: 0;
        width: 100%;
        list-style-type: none;
    }
    nav ul li {
        margin-left: 2%;
    }
    nav ul li a{
        color: rgb(241, 206, 7);
        letter-spacing: 0.06em;
        text-decoration: none;
        padding: 0.5em;
        background-color: black;
        border-radius: 0.3em;
        font-size: 1.125em;
        transition: all 0.2s ease;
    }
    nav li a:hover { 
        box-shadow: 0.3em 0.3em 0.3em rgb(128, 119, 3);
        transition: box-shadow 0.2s ease;
    }
    .column {
        margin: 1em;

    }
    /*~~~~~~~~~~Home page~~~~~~~~~~~*/
    .intro {
        flex-direction: row;
        margin: 3em 0;
    }

    .section {
        width: 80%;
    }
    

    /*~~~~~~~~About us page~~~~~~~~*/


    main h1 {
        margin-top: 10%;
    }
    .aboutus {
        font-size: 120%;
    }
    .ourteam {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 3em;
    }
    .columns {
        margin: 0;
        width: 25%;
    }
    
    /*~~~~~~~~News page~~~~~~~~*/


    .newsbox {
        margin-bottom: 1.875em;
        padding: 0 0.5em; 
        width:55%;
        display: inline-block;
    }
    .article {
        font-size: 120%;
    }
    #newsimg {
        width: 70%;
        margin-left: 15%;
    }


    /*~~~~~~~~Game page~~~~~~~~*/


    .gameStart {
        padding: 1em;
        font-size: 1.2em;
    }   

    /*~~~~~~~~Contact us page~~~~~~~~*/


    .contactus-input {
        flex-direction: column;
    }

}


/*~~~~~~~~~~~~~~End of the Medium Width Screen Version~~~~~~~~~~~*/

/*~~~~~~~~~~~Start of the Large Width Screen Version~~~~~~~~~~~~~*/


@media screen and (min-width:1280px) { 
    nav ul li {
        margin: 0 3%;
    }
    /*~~~~~~~~~~~Home page~~~~~~~~~~*/
    .section {
        width: 60%;
    }

    /*~~~~~~~~~~~~News page~~~~~~~~~~~*/


    .news {
        display: flex;
        flex-direction: row;
        margin-left: 1.875em;
    }
    .newsbox {
        margin-bottom: 1.875em;
        width:35%; 
    }
    .article {
        font-size: 120%;
    }
    #newsimg {
        width: 90%;
        margin-left: 4%;
    }


    /*~~~~~~~~~~~Game page~~~~~~~~~~~*/

    .gameArea {
        flex-direction: row;
    }
    .gameArea > div {
        width: 50%;
    }
    
    /*~~~~~~~~Contact us page~~~~~~~~*/


    .contact {
        float: left;
    }

}

/*~~~~~~~~~End of the Large Width Screen Version~~~~~~~~~*/
